.container {
  margin-bottom: 70px;
  flex: 1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-theme);
  color: var(--color-font);
}
.containerin{
  display: flex;
}
p {
  font-weight: 500;
}
.sectionIntro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro {
  width: 450px;
  margin-right: 40px;
}
.subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: -0.5px;
  color: var(--color-accent);
}

.main {
  color: var(--color-accent);
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "GongGothicMedium";
  /* text-shadow: 2px 3px 4px rgba(128,128,128,0.78); */
  margin-bottom: 2rem;
}
.sectionInfo {
  flex: 1;
  display: flex;
  width: 420px;
  padding: 30px 20px;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 22px -7px rgba(0,0,0,0.34);
}
.loc {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.license {
    margin-top: -40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move {
  font-size: 3.5rem;
  background-color: transparent;
  border: 0;
  position:fixed;
  right: 5%;
  bottom: 10%;
}
