.container {
    flex: 1;
    font-weight: bold;
    display: flex;

}
p {
    color: var(--color-white);
    font-weight: 500;
}
.sectionIntro {
    background-color: var(--color-accent);
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img {
    margin-top: 20px;
    width: 372px;
    height: 200px;
    border-radius: 0.3rem;
    opacity: 0.9;
}

.main {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'GongGothicMedium';
    margin-bottom: 2rem;
}
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.loc {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--color-accent);
}
.license {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-accent);
}

.move {
    font-size: 3.5rem;
    background-color: transparent;
    border: 0;
    position: fixed;
    right: 5%;
    bottom: 40%;
}
