.container {
  padding: 0 100px 0 0px;
  flex: 1;
  font-weight: bold;
  display: flex;
  background-color: var(--color-accent);
  color: var(--color-white);
}
p {
  font-weight: 500;
}
.sectionIntro {
  flex: 1;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro {
  width: 100%;
}
.img {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  border-radius: 0.2rem;
  opacity: 0.8;
}

.main {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "GongGothicMedium";
  text-shadow: 2px 3px 4px rgba(128,128,128,0.78);
  margin-bottom: 2rem;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.loc {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.license {
    margin-top: -40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move {
  font-size: 3.5rem;
  background-color: transparent;
  border: 0;
  position:fixed;
  right: 5%;
  bottom: 10%;
}
