.container {
    /* 모달창 크기 */
    width: 700px;
    height: 600px;
  
    /* 최상단 위치 */
    z-index: 999;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: var(--color-white);
    border: 0;
    border-radius: 0.3rem;
  
    box-shadow: 1px 1px 19px 13px rgba(0,0,0,0.19);
  
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
  }
  
  /* 모달창 내부 X버튼 */
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
.person {
  margin: 10px;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(253, 253, 253);
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.07);
}

.img {
  height: 100px;
  width: 100px;
  border-radius: 4rem;
}

.star {
  color: rgb(249, 211, 0);
}

.person > button {
  width: 100%;
}
