.person {
    margin: 10px;
    padding: 10px;
    border-radius: 0.2rem;
    background-color: rgb(253, 253, 253);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.07); 
box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.07);
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 4rem;
}

.star {
    color: rgb(249, 211, 0);
}

.person >button{
    width: 100%;
}