.close {
  position: absolute;
  right: 10px;
  top: 70px;
}

.price {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: -20px;
  height: 85%;
}
.route {
  flex: 1;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(177, 177, 177);
  padding-left: 0px;
  margin-left: -10px;
}
.section {
  border-left: 1px solid rgb(190, 190, 190);
  padding-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.people {
  flex: 1;
}

.details {
  flex: 1;
}

.title {
  font-family: "GongGothicMedium";
  font-size: 1.3rem;
  margin-bottom: 10px;
}
