.form {
    width: 400px;
    margin-bottom: 20px;
}
.form > input{
    width: 380px;
    padding: 15px 17px;
    margin-bottom: 20px;
    font-size: 17px;
    border-radius: 0.2rem;
    border: 0;
}
.form > div{
    font-size: 0.9rem;
    margin-bottom: 30px;
    width: 380px;
    padding: 0 0 0 10px;
}

.buttons{
    margin-bottom: 30px;
}

.j1, .j2 {
    width: 50%;
    height: 50px;
    font-size: 1.1rem;
    background-color: white;
    color: var(--color-accent);
}
.j1:hover, .j2:hover {
    background-color: var(--color-accent);
    color: white;
    opacity: 0.6;
}
.j1 {
    border-radius: 0.2rem 0 0 0.2rem;
}
.j2 {
    border-radius: 0 0.2rem 0.2rem 0;
}

.license {
    font-size: 1.3rem;
    font-weight: 500;
    align-self: center;
    margin-bottom: 10px;
}

.next {
    font-size: 1.3rem;
    padding: 15px 17px;
}