.nav {
  background-color: var(--color-accent);
  border-bottom: 1px solid var(--color-white);
  font-size: 1.2rem;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'GongGothicMedium';
}

.logo {
    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
    text-align: center;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 2rem;
  color: var(--color-white);
}
.menu {
  margin: 0 30px;
  font-size: large;
  cursor: pointer;
  border: 0;
  color: var(--color-white);
}

.buttons {
  display: flex;
  align-items: center;
}
.qna,
.login,
.sign {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-white);
  border: 0;
  margin-right: 10px;
}
