.container {
  /* 모달창 크기 */
  width: 500px;
  height: 400px;

  /* 최상단 위치 */
  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: var(--color-white);
  border: 0;
  border-radius: 0.3rem;

  box-shadow: 1px 1px 19px 13px rgba(0,0,0,0.19);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 40px 70px 40px;
}

.form > input {
  padding: 17px 15px;
  border: 0;
  background-color: var(--color-bg-white);
  margin: 5px 0;
  font-size: 1.2rem;
}

.form > div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8rem;
  color: rgb(249, 100, 58);
  margin: 4px;
}

.form > button {
  margin: 5px 0;
  padding: 6px;
  font-size: 1.2rem;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav {
  background-color: var(--color-bg-white);
  border-bottom: 1px solid var(--color-accent);
  font-size: 1.2rem;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "GongGothicMedium";
}

.logo {
  position: absolute;
  cursor: pointer;
  left: 40%;
  right: 40%;
  width: 20%;
  text-align: center;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 2rem;
  color: var(--color-accent);
}
.menu {
  margin: 0 30px;
  font-size: large;
  cursor: pointer;
  border: 0;
  color: var(--color-accent);
  background-color: transparent;
}

.buttons {
  display: flex;
  align-items: center;
}
.buttons > button{
  cursor: pointer;
  background-color: transparent;
  color: var(--color-accent);
  border: 0;
  margin-right: 10px;
}
